{% extends 'layout.html' %}

{% block body %}

<section class="core-value py-5">
	<div class="container py-md-4">
		<h3 class="heading mb-sm-5 mb-4 text-center"> About Us</h3>
		<div class="row core-grids" style="display: flex;">
			<div class="col-lg-6 core-left">
				<img src="https://img.freepik.com/free-photo/person-using-ai-tool-job_23-2150711498.jpg?w=740&t=st=1694498952~exp=1694499552~hmac=1c4d9a89a37623dc73d9805a876258c3a3c34402d90b82fe2ea3b172a280416d" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-6 core-right" style="font-size: 20px;">
				<h3 class="mt-4">Improving Agriculture, Improving Lives, Cultivating Crops To Make Farmers Increase
					Profit.</h3>
				<p class="mt-3">We use state-of-the-art machine learning technology to help users
					guide through
					the entire farming process. Make informed decisions to understand what crop to be grown,
					and nitrogen,pottasium,phosphorous and ph values
                    that are present in the soil,humidity and rainfall 
					factors that affect your crop and keep them healthy for a super awesome successful yield.</p>
			</div>
		</div>
	</div>
</section>


</html>

{% endblock %}