{% extends 'layout.html' %}

{% block body %}

<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
	
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<h3 class="text-wh">CropMate</h3>
								<h4 class="text-wh mx-auto my-4"><b>Get informed decisions about your farming strategy.</b></h4>
								<br>
								<h4 class="text-wh mx-auto my-4"><strong> Here are some questions we'll answer</strong></h4>
								<p class="text-li mx-auto mt-2">
									 What crop to plant here? <br></p>
							</div>
						</div>
					</div>
				</div>
	</div>
</section>


</html>

{% endblock %}